## Please check .eslintignore and .gitignore when changing this file

# Ignore artifacts:
build
coverage
node_modules

## file extensions
*.js
*.json
*.yml
*.md

.gitignore


# dependencies
/.pnp
.pnp.js
.idea

# testing
/coverage

# production
/build

# mis
.env
.env.development
.env.production
.env.test.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.scannerwork/
/charity-mate-fe.iml

#nginx system logs
/nginx-logs
/nginx-logs/*
